@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
  padding: 0;
  margin: 0;
} 

.s1{
    height: 100vh;
    width: 100%;
}
.s2{
    height: 100vh;
    width: 100%;
}
#dp{
  width: 25vw;
  
}
#ct{
  position: absolute;
  margin: auto;
  color: blueviolet;
}

.ani1 {
  font-family: 'Arimo', sans-serif;
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  font-size: 4cm;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.anid span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.anid span:nth-child(1) {
  animation: fade-in 3s 1s forwards cubic-bezier(0.11, 0, 0.5, 0) ;
}

.anid span:nth-child(2) {
  animation: fade-in 3s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.anid span:nth-child(3) {
  animation: fade-in 3s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
} 
.ContactMe{
  color: beige;
}

@keyframes fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
        filter: blur(0);
      }
    50%{
        visibility: visible;
    opacity: 1;
    filter: blur(0);
    }
  100% {
    visibility: hidden;
        opacity: 0;
        filter: blur(0);
  }
}


.anid{ 
    display:flex; 
    justify-content: center;
    align-items: center;
    width:100%; 
    height:80%;   
    z-index: 1; 
}


* {
    box-sizing: border-box;
  }

.fu{ 
    z-index:2;
    position:relative; 
    bottom:300px ; 
    padding-left:400px; 
}
  
.fu h2 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
  }
  
 .fu h2 span {
    font-size: 40px;
    margin-left: 40px;
}
  
  .message {
    background-color: yellow;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;   
    top: 0.2rem;
    left: 270px;
    animation: hide 0.1s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    animation: openclose 5s ease-in-out infinite;
  }
  @keyframes hide {
      100%{
    display: none;}
}

  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }